---
import Layout from "@/layout/Public.astro";
console.log('Logging out ', Astro.cookies.has('auth-token'));
if (Astro.cookies.has('auth-token')) {
  const cookie = Astro.cookies.delete('auth-token',{ path:'/' });
}

return Astro.redirect("/auth/login"); 
---
<Layout>
<p class="text-center">Loggin out</p>
</Layout>