---
import Layout from "../layout/Layout.astro"
import { matchRoute, pageResolvers } from '../components/pages/index'
import { AstroRequest } from "../services/RequestService"
import { HTMLRenderer } from "../services/HtmlRenderer"

const request = new AstroRequest(Astro) 
const { route, schema } = <any> await matchRoute(Astro.url.pathname) 
const reqParams = request.pathToObject(route)
const renderer = new HTMLRenderer(schema, pageResolvers);
const rendered = await renderer.render({
  params: reqParams,
  query: request.query,
  body: await request.body
})

console.log('params', reqParams, request.params)
---
<Layout title="Dynamic page">
  <ul class="flex mb-3"> 
      <li class="mr-6">
        <a class="text-blue-500 hover:text-blue-800" href="/dash">Dashboard</a>
      </li> 
      <li class="mr-6">
        <a class="text-blue-500 hover:text-blue-800" href="/page">Pages</a>
      </li>  
  </ul>
  <Fragment set:html={rendered} />
</Layout>