---
import Layout from '../layout/Layout.astro';
import { HTMLRenderer } from "../services/HtmlRenderer";
import { sections, sectionResolver } from '../services/RenderResolvers' 
import { ResourceService } from '../services/ResourceService'
import { cursos } from '../assets/cursos'
import { schema as tableSchema } from '../components/sections/table'
import { AstroRequest } from '../services/RequestService';

const request = new AstroRequest(Astro); 
const userService = new ResourceService(cursos.api);

const configSchema = {
  properties:[
    { id:'name', type: 'text' }
  ]
}

const pageSchema = {
   $el: 'section',
   children: [
    {
      $el: 'h1',
      attrs: {
        class: 'text-3xl font-bold mb-4'
      },
      children: ['Kanban']
    },
    tableSchema
  ]
}


console.log('filters', request.query);
const { data, total } = await userService.getAll(request.query);  
const renderer = new HTMLRenderer(pageSchema, {
  sectionResolver, 
});
const rendered = await renderer.render({ data, total, query: request.query });
---

<Layout title="Kanban">  
  <div class="bg-white rounded-lg shadow p-2">
    <Fragment set:html={rendered} />
  </div>
</Layout>